/* Fonts */

$font-size-default: 16px;
$font-family-title: 'DM Sans', 'Trebuchet MS', Arial, Helvetica, sans-serif;
$font-family-main: 'Lato', 'Trebuchet MS', Arial, Helvetica, sans-serif;
$font-family-recipe: 'Roboto', 'Trebuchet MS', Arial, Helvetica, sans-serif;

 
/* colors */

$color-title: #d04f4f;
$color-ingredients: #3282f7;
$color-appareil: #68d9a4;
$color-ustensiles: #ed6454;
$color-bg: #e7e7e7;

/* breakpoints */
$verysmall-screen: 420px;
$small-screen: 800px;
$large-screen: 1025px; 
$xl-screen: 1145px; 
