.header{
  padding-bottom: 2rem;
  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transform-origin: center center;
    transition: transfrom 2000ms ease-in-out;
    &:hover, &:focus {
      outline: none;
      transform: scale(1.05);
      transition: transfrom 2000ms ease-in-out;
    }
    &__img {
      width: auto;
    }
  }
  &__title {
    font-family: $font-family-title;
    font-size: 2.25rem;
    padding-top: .5rem;
    text-align: center;
  }
}