.header2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__result {
    padding-bottom: .5rem;
    &__bold {
      font-weight: 700;
    }
  }
  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    &__input {
      width: 100%;
      background-color: $color-bg;
      border: none;
      padding: 1.4rem 4.5rem 1.5rem 1.3rem;
      border-radius: .3rem;
      font-size: 1.12rem;
      font-family: $font-family-main;
      // outline: none;
      margin-bottom: 1.2rem;
      &:hover, &:focus {
        background-color: $color-bg;
        box-shadow: .15rem .15rem .45rem rgba(0, 0, 0, 0.20);
      }
    }
    &__button {
      position: absolute;
      right: 0rem;
      top: 1rem;
      border: none;
      background-color: $color-bg;
      & span {
        font-size: 2rem;
        padding: .8rem;
      }
    }
  }
  &__filters {
    display: flex;
    align-items: flex-start;
    @include respond-to(small-screen) {
    flex-wrap: wrap;

    }
  }
  &__selected {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .2rem;
    z-index: 4;
  }
}
.main {
  position: relative;
}
.section {
  position: absolute;
  top: 16.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  column-gap: 4%;
  row-gap: 3rem;
  width: 100%;
  padding-bottom: 3rem;
  @include respond-to (large-screen) {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    row-gap: 2rem;

  }
  @include respond-to (small-screen) {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    top: 0.3rem;
  }
}
